@import '../../../../styles/variables.scss';

.footer {
    padding:50px 80px 50px 80px;
    border-top: 1px solid $thirdBorder;
    background-color: $whiteBackground;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 100;

    &__content {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        gap: 50px;

        .column{
            display: flex;
            flex-direction: column;
            width: 288px;

            &__title {
                margin-bottom: 5px;
                margin-top: 0px;

                &-company {
                    font-size: 20px;
                    color: $primaryColor;
                    margin-bottom: 10px;
                    margin-top: 0px;
                }
            }
            
            .row {
                text-decoration: none;
                color: $thirdText;
                margin: 5px 5px 5px 0px;
                display: flex;
                align-items: center;

                img {
                    margin-right: 5px;
                }

                &-link:hover {
                    color: $fourthText;
                }

                &-icons {
                    img {
                        margin-right: 12px;
                    }
                }
            }
        }
    }

    &__rights {
        border-top: 1px solid $thirdBorder;
        padding-top: 25px;
        color: $thirdText;
        text-align: center;
    }
}