
<footer class="footer">
    <section class="footer__content">
        <div class="column">
            <p class="column__title-company">Hogar360</p>
            <p class="row">Tu partner en la búsqueda del espacio perfecto.</p>
        </div>
        <div class="column">
            <p class="column__title">Acceso rápido</p>
            <a class="row row-link" href="/">Buscar Propiedades</a>
            <a class="row row-link" href="/">Publica tu propiedad</a>
            <a class="row row-link" href="/">Property Management</a>
        </div>
        <div class="column">
            <p class="column__title">Contactanos</p>
            <p class="row"><img src="/assets/img/contact-icons/phone-icon.svg" alt="phone-icon">1-800-HOGAR360</p>
            <p class="row"><img src="/assets/img/contact-icons/mail-icon.svg" alt="mail-icon">info(a)hogar360.com</p>
            <p class="row"><img src="/assets/img/contact-icons/location-icon.svg" alt="location-icon">123 Real Estate Ave</p>
        </div>
        <div class="column">
            <p class="column__title">Siguenos</p>
            <p class="row row-icons">
                <a href="/"><img src="/assets/img/social-media-icons/facebook-icon.svg" alt="facebook-icon"></a>
                <a href="/"><img src="/assets/img/social-media-icons/twitter-icon.svg" alt="twitter-icon"></a>
                <a href="/"><img src="/assets/img/social-media-icons/instagram-icon.svg" alt="instagram-icon"></a>
                <a href="/"><img src="/assets/img/social-media-icons/linkedln-icon.svg" alt="linkedln-icon"></a>
            </p>
        </div>
    </section>
    <section class="footer__rights">© {{ year }} Hogar360. All rights reserved.</section>
</footer>
