<label class="label" (clickOutside)="closeDropdown()">
    <div class="label__text">
        {{ label }} 
        <p class="label__required-simbol" *ngIf="required">*</p>
    </div>

  <input
    type="text"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [value]="value"
    (input)="handleInputEvent($event)"
    (focus)="onFocus()"
    (blur)="onTouched()"
    class="input"
  />

  <div *ngIf="isOpen" class="options-dropdown" [class.visible]="isOpen && !disabled">
    <div
      *ngFor="let option of filteredOptions"
      (mousedown)="selectOption(option)"
      class="option-item"
      [class.selected]="option.id === _selectedOption?.id"
    >
    {{ option[displayField] }}
    </div>
    <div *ngIf="filteredOptions.length == 0" class="no-results">
      No se encontraron resultados
    </div>
  </div>
  
  <div class="input-error">
    <small *ngIf="!isOpen && errors && (formControl?.touched || formControl?.dirty)">
      {{ getErrorMessage() }}
    </small>
  </div>
</label>