.sidebar {
    border-right: 1px solid;
    border-right-color: #E5E7EB;
    width: 256px;
    min-height: 84vh;
    padding: 25px 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
}