@import '../../../../styles/variables.scss';

.label {
    font-size: 14px;
    color: $primaryText;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    transition: all 0.3s ease;
    margin-bottom: 10px;


    &__text {
        display: flex;
        align-items: center;
        margin: 0px 0px 12px 0px;
    }

    &__required-simbol {
        color: $warningText;
        margin: 0px 0px 0px 4px;
    }

    .input {
        display: inline;
        padding: 12px 70px 12px 15px;
        border: 1px solid $primaryBorder;
        border-radius: 8px;
        outline: none;
        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        resize: none;
        overflow-y: hidden;

        &:focus {
            border: 1px solid $secondaryBorder;
        }

        &-count {
            position: absolute;
            bottom: 13px;
            right: 15px;
            font-size: 14px;
            color: $secondaryText;
        }

        &-error {
            color: $warningText;
            height: 1px;
        }
    }

    .red {
        color: $warningText;
    }
}
