<label class="label">
    <div class="label__text">
        {{ label }} 
        <p class="label__required-simbol">*</p>
    </div>
    <input *ngIf="type !== 'textarea'"
    class="input"
    [type]="type"
    [placeholder]="placeholder"
    [(ngModel)]="contentText"
    (required)="(required)"
    (input)="onInputChange()"
    />

    <textarea *ngIf="type === 'textarea'"
        rows="4"
        class="input"
        [placeholder]="placeholder"
        [(ngModel)]="contentText"
        (required)="(required)"
        (input)="onInputChange()"
    ></textarea>
    <span *ngIf="type === 'textarea'" class="textarea-count" [class.red]="count > maxwidth">{{ count + '/' + maxwidth }}</span>
</label>
