// global colors
    $primaryColor: #2563EB;
    $secondaryColor: #0056b3;
    $thirdColor: #EFF6FF;

// color letters
    $primaryText: #374151;
    $secondaryText: #374151;
    $thirdText: #4B5563;
    $fourthText: #8d98a7;
    $fifthText: #111827;
    $whiteText: white;
    $warningText: red;

// background colors
    $primaryBackground: #F9FAFB;
    $secondaryBackground: #f7f7f7;
    $whiteBackground: white;

// others
    $primaryBorder: #D1D5DB;
    $secondaryBorder: #888b8f;
    $thirdBorder: #E5E7EB;

    $shadowColor: #0000001A;