@import '../../../../styles/variables.scss';

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2.4rem;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;

    p {
        margin: 0;
    }

    &__title {
        font-size: 32px;
        font-weight: 400;
        color: $fifthText;
        margin-top: 0px;
        margin-bottom: 1.5rem;
    }

    &__filter {
        width: 60%;

        button {
            margin-top: 0px;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .input-location {
            flex: 3;
        }

        .btn-filter {
            display: flex;
            gap: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .filter-options {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;
            position: absolute;
            padding: 2.5rem 2rem 2rem 2rem;
            border-radius: 12px;
            border-color: $thirdBorder;
            top: 120%;
            left: -2rem;
            background-color: $whiteBackground;
            z-index: 1000;
            box-shadow: 0rem 0rem 1rem $shadowColor;

            .close-icon {
                position: absolute;
                right: 1.5rem;
                top: 1.5rem;
                cursor: pointer;
            }

            p {
                color: $fifthText;
                font-size: 14px;
            }

            .order {
                display: flex;

                .column {
                    margin-left: 1rem;
                }

                .orderBy, .orderAsc {
                    display: flex;
                    gap: 0.7rem;
                    flex-wrap: wrap;
                    margin: 1rem 0;
                    font-size: 14px;

                    label {
                        position: relative;
                        cursor: pointer;

                        input[type="radio"] {
                            position: absolute;
                            opacity: 0;
                            width: 0;
                            height: 0;
                            
                            &:checked + .radio-button__label {
                                background-color: $primaryColor; /* Color primario */
                                color: $whiteText;
                                border-color: $primaryColor;
                            }
                            
                            &:focus + .radio-button__label {
                                box-shadow: 0 0 0 2px $shadowColor;
                            }
                        }

                        .radio-button__label {
                            display: inline-block;
                            padding: 8px 15px;
                            border: 1px solid $primaryBorder;
                            border-radius: 5px;
                            background-color: $whiteBackground;
                            color: $primaryText;
                            transition: all 0.3s ease;
                            text-align: center;
                            min-width: 80px;
                            
                            &:hover {
                                border-color: $primaryColor;
                                color: $secondaryColor;
                            }
                        }
                    }
                }
            }

            .filter-inputs {
                display: flex;
                width: 95%;
                flex-direction: column;
                gap: 20px;

                .row {
                    width: 100%;
                    display: flex;
                    gap: 1rem;        

                    .input {
                        flex: 1;
                    }
                }
            }

            .actions {
                display: flex;
                width: 95%;
                gap: 1rem;
                justify-content: end;
            }
        }
    }

    &__list-houses {
        width: 100%;
        margin-top: 4.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.8rem;

        .no-results {
            display: flex;
            flex: 1;
            justify-content: center;
            color: $thirdText;
            font-size: 24px;
            margin-bottom: 500px;
        }

        .house-card {
            position: relative;
            border-radius: 12px;
            border: 1px solid $thirdBorder;
            box-shadow: 0rem 5px 0.7rem $shadowColor;
            width: 370px;
            display: flex;
            flex-direction: column;
            margin-bottom: 2.5rem;
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 0rem 0px 0.3rem $shadowColor;
                opacity: 0.8;
                cursor: pointer;
            }

            .house-img {
                border-radius: 12px 12px 0px 0px;
                width: 100%;
                bottom: 0;
            }

            .type {
                position: absolute;
                right: 1rem;
                top: 1rem;
                padding: 5px 18px;
                border-radius: 12px;
                background-color: $primaryColor;
                margin: 0;
                color: $whiteText;
            }

            .card-info {
                background-color: $whiteBackground;
                padding: 1rem 1.5rem;
                border-radius: 0px 0px 12px 12px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                &__name {
                    margin: 0px;
                    font-size: 20px;
                }

                &__location {
                    font-size: 13px;
                    color: $thirdText;
                    margin-top: -7px;
                }

                &__price {
                    font-size: 24px;
                    color: $primaryColor;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &__details {
                    display: flex;
                    gap: 0.7rem;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        font-size: 16px;
                        color: $thirdText;
                    }
                }
            }
        }
    }
}