<section class="content">
  <h1 class="content__title">Encuentra tu casa perfecta</h1>
  
  <app-house-filters class="content__filter"
    [filterForm]="filterForm"
    [getDepartments]="getDepartments"
    [getCities]="getCities"
    [getNeighborhoods]="getNeighborhoods"
    [getCategories]="getCategories"
    [showAdvancedFilters]="modalFilterOptions"
    [idDepartment]="idDepartment"
    [idCity]="idCity"
    (toggleAdvancedFilters)="toggleFilterModal()"
    (submitFilters)="applyFilters()"
    (resetFilters)="resetFilters()"
    (departmentIdChange)="setDepartmentId($event)"
    (cityIdChange)="setCityId($event)">
  </app-house-filters>
  
  <div class="content__list-houses">
    <ng-container *ngIf="houses$ | async as houses; else loading">
      <app-card
        *ngFor="let house of houses; let i = index"
        [house]="house"
        [index]="i">
      </app-card>
      
      <div *ngIf="houses.length === 0" class="no-results">
        No se encontraron resultados
      </div>
    </ng-container>
    
    <ng-template #loading>
      <div class="loading-spinner no-results">
        Cargando propiedades...
      </div>
    </ng-template>
  </div>
  
  <app-pagination
    *ngIf="totalItems > 0"
    [page]="page"
    [size]="size"
    [totalItems]="totalItems"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</section>