@import '../../../../styles/variables.scss';

.sidebar-link {
    border-radius: 6px;
    padding: 8px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    color: $secondaryText;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    gap: 12px;
    text-decoration: none;

    &:hover {
        background-color: $secondaryBackground;
    }

    &.active {
        color: $primaryColor;
        background-color: $thirdColor;
        .sidebar-icon {
            color: $secondaryColor;
        }
    }
}