  <table class="table-container">
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.title }}
          <button class="no-btn" *ngIf="col.isActive != null && col.isActive && col.orderAsc" (click)="newOrder(col.key)">
            <img  src="./assets/img/filter-icons/sort-asc-icon.svg" alt="filter-active-asc" >
          </button>
          <button class="no-btn" *ngIf="col.isActive != null && col.isActive && !col.orderAsc" (click)="newOrder(col.key)">
            <img  src="./assets/img/filter-icons/sort-desc-icon.svg" alt="filter-active-des" >
          </button>
          <button class="no-btn" *ngIf="col.isActive != null && !col.isActive" (click)="newOrder(col.key)">
            <img  src="./assets/img/filter-icons/sort-icon.svg" alt="filter-inactive" >
          </button>
        </th>
        <th class="actions">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; trackBy: trackByFn">
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <span *ngSwitchCase="'id'" class="id">
              {{ col.prefix + formatNumber(getProperty(item, col.key), 3) }}
            </span>

            <span *ngSwitchCase="'date'">
              {{ getProperty(item, col.key) | date:'dd/MM/yyyy' }}
            </span>
            
            <span *ngSwitchDefault>
              {{ getProperty(item, col.key) }} 
            </span>
          </ng-container>
        </td>
        
        <td class="actions-cell">
          <button><img src="./assets/img/delete-icon.svg" alt=""></button>
        </td>
      </tr>
      <tr *ngIf="data?.length == 0">
        <td class="not-found" colspan="100%">No se encontraron resultados</td>
      </tr>
    </tbody>
  </table>
  <app-pagination
    *ngIf="totalItems > 0"
    [page]="currentPage"
    [size]="itemsPerPage"
    [totalItems]="totalItems"
    (pageChange)="onPageChange($event)">
  </app-pagination>