<form class="form" [formGroup]="categoryForm" (ngSubmit)="submit()">
    <app-input 
        label="Nombre de la Categoria"
        placeholder="Ingresa el nombre de la categoria"
        [formControl]="nameControl"
        [maxwidth]="50"
    ></app-input>

    <app-input 
        label="Descripcion"
        type="textarea"
        placeholder="Ingresa la descripcion de la categoria"
        [formControl]="descriptionControl"
        [maxwidth]="90"
    ></app-input>

    <div class="form__actions">
        <button type="submit" class="btn btn--primary" [disabled]="categoryForm.invalid">Crear</button>
    </div>
</form>