@import '../../../../styles/variables.scss';

.navbar {
    border-bottom: 1px solid;
    border-bottom-color: $thirdBorder;
    background-color: $whiteBackground;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    box-shadow: 0 0px 12px $shadowColor;

    &__logo {
        display: flex;
        align-items: center;
        width: 105px;
        cursor: pointer;
        margin-left: 15px;
    }

    &__user {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 16px;
        color: $thirdText;
    }
}