/* You can add global styles to this file, and also import other style files */
@import './styles/fonts.scss';
@import './styles/variables.scss';
@import 'ngx-toastr/toastr';

.btn {
    padding: 8px 50px;
    margin-top: 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    color: $whiteText;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    transition: all 0.3s ease;

    &--primary {
        background-color: $primaryColor;

        &:hover {
            background-color: $secondaryColor;
        }
    }

    &--secondary {
        background-color: $primaryColor;

        &:hover {
            border: 1px solid $secondaryColor;
            background-color: $thirdColor;
            color: $primaryText;
        }
    }

    &--third {
        background-color: $whiteBackground;
        color: $primaryColor;
        border-color: $primaryColor;

        &:hover {
            border: 1px solid $primaryColor;
            background-color: $primaryColor;
            color: $whiteText;
        }
    }


    &:disabled {
        background-color: $primaryBackground;
        color: $fourthText;
        cursor: no-drop;
    }
}

.no-btn {
    border: none;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

.display-none {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primaryBackground;
    font-family: 'Manrope', sans-serif;
}