<main class="content">
    <section class="content__create-location">
        <h2 class="content__title">Crear Ubicación</h2>
        <app-location-form 
            class="content__form"
            (newLocation)="onListChange()"
        ></app-location-form>
        <h2 class="content__title">Ubicaciones existentes</h2>
        <section class="filter" [formGroup]="filterForm">
            <app-input 
                class="input-text"
                label="Filtro por Ciudad/Departamento:"
                type="text"
                placeholder="Ingresa el nombre de la ciudad o del departamento"
                [formControl]="nameFilter"
                [maxwidth]="90"
            ></app-input>
            <button class="btn btn--secondary" (click)="onListChange()" [disabled]="filterForm.invalid">Filtrar</button>
        </section>
        <app-table
            [data]="locations$ | async"
            [columns]="columns"
            [currentPage]="page"
            [itemsPerPage]="size"
            [totalItems]="totalItems"
            (pageChange)="onPageChange($event)"
            (order)="onOrderChange($event)">
        </app-table>
    </section>
</main>